<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTBTB"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAS9aTIxTMri85w28LsDiFdpd6FjjaIsiM" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".detail_rating"
            android:exported="false" />
        <activity
            android:name=".descpp"
            android:exported="false" />
        <activity
            android:name=".list_profilpenukar"
            android:exported="false" />
        <activity
            android:name=".ProfilPenukar"
            android:exported="false" />
        <activity
            android:name=".list_history"
            android:exported="false" />
        <activity
            android:name=".history"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".newpost"
            android:exported="false" />
        <activity
            android:name=".pages"
            android:exported="false" />
        <activity
            android:name=".artikel"
            android:exported="false" />
        <activity
            android:name=".rating"
            android:exported="false" />
        <activity
            android:name=".desc"
            android:exported="false" />
        <activity
            android:name=".desctp"
            android:exported="false" />
        <activity
            android:name=".desc_artikel"
            android:exported="false" />
        <activity
            android:name=".beranda"
            android:exported="false" />
        <activity
            android:name=".edit_tanaman"
            android:exported="false" />
        <activity
            android:name=".postingan"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Regist"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".tukardengan"
            android:exported="false" />
        <activity
            android:name=".notif"
            android:exported="false" />
        <activity
            android:name=".desc_notif"
            android:exported="false" />
        <activity
            android:name=".descHistory"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>